$ORIGIN soulsecure.lab.
$TTL 300
@       IN SOA  ns.soulsecure.lab. admin.soulsecure.lab. ( 2026080601 3600 1800 604800 300 )
@       IN NS   ns.soulsecure.lab.
ns      IN A    __ANSWER_IP__
@       IN A    __ANSWER_IP__
www     IN A    __ANSWER_IP__
api     IN A    __ANSWER_IP__
mail    IN A    __ANSWER_IP__
storage IN A    __ANSWER_IP__
vpn     IN A    __ANSWER_IP__
backup-eu IN A  __ANSWER_IP__
